<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stfu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/bike_icon_45x40"
        android:label="@string/app_name" >
                
	    <activity
	        android:name="com.example.stfu.MainActivity"
	        android:label="@string/app_name"
	        android:theme="@style/MenuTheme"
	        android:enabled="true" >
	    </activity>
	    
        <service
            android:name="com.example.stfu.StfuLiveCardService"
            android:icon="@drawable/bike_icon_45x40"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true" >
           <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpx" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />            
        </service>
    </application>

</manifest>
